<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="footer-title">El Brote</h5>
          <p>La mejor selección de frutas y verduras frescas directamente del campo a tu hogar.</p>
        </div>
        <div class="col-md-4">
          <h5 class="footer-title">Enlaces rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#">Inicio</a></li>
            <li><a href="#" routerLink="tienda">Tienda</a></li>
            <li><a href="#" routerLink="registrar">Productos</a></li>
            <li><a href="#">Nosotros</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="footer-title">Contacto</h5>
          <p>Dirección: Nazca 2048<br>Teléfono: 1133258597</p>
        </div>
      </div>
    </div>
  </footer>
  
