<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="jumbotron text-center">
            <h1 class="my-2">¡Cuenta Creada!</h1>
            <img src="assets/ilustrations/green-mail-icon.png" class="img-fluid" alt="Imagen de verificación">
            <p class="lead">Hemos enviado un correo electrónico de confirmación a tu dirección de correo. Por favor, verifica tu cuenta haciendo clic en el enlace de confirmación en el correo electrónico.</p>
            <a class="nav-link" routerLink="/ingresar" class="btn btn-primary">Ingresar</a>
        </div>
      </div>
    </div>
  </div>