<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 pd-3">
      <h1 class="my-2">Recuperar cuenta</h1>
      <span>Ingrese una nueva contraseña y el código recibido en el correo electrónico: {{ email }} para confirmar la recuperación de la cuenta.</span>
      <form (ngSubmit)="ConfirmarRecuperacion()" [formGroup]="formConfirmarRecuperar">
        <div class="form-group my-2">
          <label for="password">Nueva Contraseña:</label>
          <input type="password" id="password" [(ngModel)]="cuenta.password" formControlName="password"
            class="form-control">
          <div class="text-danger my-2"
            *ngIf="formConfirmarRecuperar.get('password').hasError('required') && formConfirmarRecuperar.get('password').touched">
            La contraseña es requerida.
          </div>
        </div>
        <div class="form-group my-2">
          <label for="codigoVerificador">Código:</label>
          <input type="text" id="codigoVerificador" [(ngModel)]="cuenta.codigoVerificador"
            formControlName="codigoVerificador" class="form-control">
          <div class="text-danger my-2"
            *ngIf="formConfirmarRecuperar.get('codigoVerificador').hasError('required') && formConfirmarRecuperar.get('codigoVerificador').touched">
            El código es requerido.
          </div>
        </div>
        <div class="col-md-6">
          <button type="submit" [disabled]="formConfirmarRecuperar.invalid"
            class="btn btn-success btn-block">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</div>